{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2015
	},
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"prettier/prettier": [
			"warning",
			{
				"semi": true,
				"tabWidth": 4,
				"printWidth": 100,
				"singleQuote": false,
				"trailingComma": "all",
				"jsxSingleQuote": false,
				"useTabs": true,
				"bracketSpacing": true
			}
		]
	}
}
